<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{ keyword }}" aria-describedby="search-button" required>
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end btn-special mt-3">
    <a href="/restaurants/new" class="btn btn-info" id="btn-info-create">新增餐廳</a>
    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        類別排序
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/restaurants/sort/name_en/asc">A->Z<a>
            <a class="dropdown-item" href="/restaurants/sort/name_en/desc">Z->A</a>
            <a class="dropdown-item" href="/restaurants/sort/category/asc">類別</a>
            <a class="dropdown-item" href="/restaurants/sort/location/asc">地區</a>
            <a class="dropdown-item" href="/restaurants/sort/rating/asc">評分低->高</a>
            <a class="dropdown-item" href="/restaurants/sort/rating/desc">評分高->低</a>
      </div>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-3">
  <div class="row position: relative">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns ">
        {{#each restaurants}}
        <div class="card mb-3">
          <a href="/restaurants/{{ this._id }}" class="text-secondary"><img class="card-img-top" src="{{ this.image }}"
              alt="{{ this.name }}"></a>
          <div class=" card-body p-3">
            <h6 class="card-title mb-1">{{ this.name }}</h6>
            <h6 class="card-title englishName mb-1">{{ this.name_en }}</h6>
            <div class="restaurant-category mb-1">
              <i class="fas fa-utensils pr-2"></i> {{ this.category }}
            </div>
            <span class="badge badge-pill badge-danger font-weight-normal">
              {{ this.rating }}
              <i class="fas fa-star fa-xs"></i>
            </span>
            <i class="far fa-heart"></i>
            <div class="d-flex flex-row-reverse bd-highlight">
              <form action="/restaurants/{{ this._id }}?_method=DELETE" method="POST">
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <button type="submit" id="trash-button"><i class=" fas fa-trash p-2 bd-highlight"></i></button>
                  </div>
                </div>
              </form>
              <a href="/restaurants/{{ this._id }}/edit" class="text-secondary"><i
                  class="far fa-edit p-2 bd-highlight"></i></a>
              <a href="/restaurants/{{ this._id }}" class="text-secondary"><i
                  class="fab fa-readme p-2 bd-highlight"></i></a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
</div>